html {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  width: 310px;
  height: 310px;
  border: 2px solid black;
}

.square {
  margin: 15px;
  border: 3px solid white;
  width: 70px;
  height: 70px;
  background-color: rgb(0, 128, 129);
}

.square-mid {
  border: 3px dashed white;
  width: 250px;
  height: 70px;
  background-color: rgb(0, 128, 129);
}
